@import "include";


// DEFAULT
body {
	@extend %clearspace-extend;
	@include transition();
	width: 100%;
	font-size: 16px;
	line-height: 1.5em;
	color: $darkgray;
	background-size: auto;
	overflow-x: hidden;
}
ul, li {
	@extend %clearspace-extend;
	list-style: none;
}
h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.75em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.25em; }
a {
	@include transition();
	color: $red;
	text-decoration: underline;
	&:hover {
		color: $orange;
		text-decoration: none;
	}
}
.content-full { @extend %clearspace-extend; }
.content-padding-xl { padding: 80px; }
.content-padding-lg { padding: 50px; }
.content-padding-md { padding: 30px; }
.content-padding-sm { padding: 15px; }
.content-padding-xs { padding: 5px; }
.width-xs { width: 10%; }
.width-sm { width: 20%; }
.width-md { width: 40%; }
.width-lg { width: 60%; }
.width-xl { width: 80%; }
.width-full { width: 100%; }
.spacer-xs { height: 20px; width: 100%; }
.spacer-sm { height: 40px; width: 100%; }
.spacer-md { height: 70px; width: 100%; }
.spacer-lg { height: 100px; width: 100%; }
.spacer-xl { height: 130px; width: 100%; }



// HEADER
$header-height: 160px;
$header-height-scrolled: 60px;
$header-circle-radius: 600px;
header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
	.header-main {
		position: absolute;
		top: 0px;
		z-index: 998;
		ul li {
			@include transition();
			line-height: $header-height;
			display: inline-block;
			font-size: 1.25em;
			a {
				@include round(5px);
				color: #FFF;
				text-decoration: none;
				padding: 10px 20px;
				&:hover { background: rgba(#FFF, 0.4); }
				&.active {
					color: $bluegreen;
					background: #FFF;
					&:hover { background: #FFF; }
				}
			}
		}
	}
	.header-circle {
		@include round();
		@include transition(1500ms);
		position: absolute;
		top: -($header-circle-radius/2);
		right: -($header-circle-radius/4);
		width: $header-circle-radius;
		height: $header-circle-radius;
		background: $lightpink;
		z-index: 997;
	}
	.header-bg {
		@include skewY(-3deg);
		@include transition(1000ms);
		position: absolute;
		height: $header-height * 2;
		top: -($header-height);
		left: 0px;
		width: 100%;
		z-index: 996;
		background: $bluegreen;
	}
}
.header-scrolled-first {
	.header-main {
		ul li {
			line-height: $header-height-scrolled;
			font-size: 0.9em;
			a { padding: 5px 10px; }
		}
	}
	.header-circle {
		top: -($header-circle-radius/1.5);
		right: -($header-circle-radius/2.5);
	}
	.header-bg {
		@include skewY(0deg);
		top: 0px;
		height: $header-height-scrolled;
	}
}
.header-scrolled-second {
	.header-main {
		ul li {
			line-height: $header-height-scrolled;
			font-size: 0.9em;
			a { padding: 5px 10px; }
		}
	}
	.header-circle {
		top: -($header-circle-radius/1.15);
		right: -($header-circle-radius/3);
	}
	.header-bg {
		@include skewY(0deg);
		top: 0px;
		height: $header-height-scrolled;
	}
}




// HOME / TITLE
$home-height: 800px;
$home-circle-radius: 650px;
.home {
	position: relative;
	height: $home-height;
	.home-content {
		position: absolute;
		top: $home-height/3.2;
		height: $home-height;
		width: 100%;
		text-align: center;
		z-index: 99;
		.logo {
			width: 100%;
			text-align: center;
			padding-bottom: 20px;
			img { width: 40%; }
		}
		hr {
			width: 25%;
			border-color: $lightestgray;
		}
		.socialmedia {
			width: 100%;
			text-align: center;
			font-size: 1.5em;
			a {
				@include round(5px);
				color: $lightergray;
				&:hover {
					padding: 8px 10px;
					margin: 8px;
					color: #FFF;
				}
				&.socialmedia-fb:hover { background: $color-facebook; }
				&.socialmedia-in:hover { background: $color-instagram; }
				&.socialmedia-tw:hover { background: $color-twitter; }
				&.socialmedia-yt:hover { background: $color-youtube; }
				&.socialmedia-be:hover { background: $color-behance; }
				&.socialmedia-li:hover { background: $color-linkedin; }
			}
		}
	}
	.home-shape1 {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 800px;
		width: 234px;
		background: url("../images/shape1.png") no-repeat center center;
		z-index: 98;
	}
	.home-shape2 {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 386px;
		width: 377px;
		background: url("../images/shape2.png") no-repeat center center;
		z-index: 97;
	}
	.home-shape3 {
		position: absolute;
		bottom: 0px;
		right: 0px;
		height: 253px;
		width: 431px;
		background: url("../images/shape3.png") no-repeat center center;
		z-index: 96;
	}
	.home-circle {
		@include transition();
		@include round();
		position: absolute;
		bottom: -($home-circle-radius/1.6);
		left: -($home-circle-radius/6);
		background: $lightbrown;
		height: $home-circle-radius;
		width: $home-circle-radius;
	}
}




// ABOUT
.about {
	position: relative;
	z-index: 1;
	.about-hello {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: right;
	}
	.about-video {
		position: relative;
		background: #FFF;
		min-height: 300px;
		.about-content {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 100;
			width: 100%;
		}
		.video-container {
			#video-background {
				width: 100%;
				height: 100%;
			}
		}
	}
}



// PORTFOLIO
.portfolio {
	.potfolio-list {
		font-size: 0.9em;
		li {
			float: left;
			a {
				text-decoration: none;
				color: #FFF;
				background: $darkergray;
				padding: 3px 8px;
				margin-right: 1px;
				&:hover {
					background: $gray;
				}
				&.active {
					background: $vintagepink;
					color: #000;
				}
			}
		}
	}
	.thumb {
		background: $darkergray;
		img { width: 100%; }
	}
}




// BOOTSTRAP OVERRIDE
.btn {
	@include transition(150ms);
	border: none;
	text-decoration: none !important;
}
.btn-primary {
	background: $purple;
	&:hover { background: $purple + 50; }
}
.btn-secondary {
	background: $maroon;
	&:hover { background: $maroon + 50; }
}




// MEDIA QUERY
@media (min-width: 1200px) { // XL

}
@media (min-width: 992px) and (max-width: 1199.98px) { // LG

}
@media (min-width: 768px) and (max-width: 991.98px) { // MD

}
@media (min-width: 576px) and (max-width: 767.98px) { // SM

}
@media (max-width: 575.98px) { // XS

}