// COLORS
$color-facebook: #00F;
$color-twitter: #5AE;
$color-instagram: #B71;
$color-youtube: #F00;
$color-behance: #93B;
$color-linkedin: #07B;

$lightestgray: #DDD;
$lightergray: #AAA;
$lightgray: #999;
$gray: #777;
$darkgray: #555;
$darkergray: #333;
$darkestgray: #111;

$vintagepink: #e88078;
$lightpink: #fce1d6;
$paleteal: #b3c6c1;
$lightbrown: #ebd4a9;
$bluegreen: #11515c;
$purple: #96007f;
$maroon: #96004f;
$red: #A00;
$orange: #F90;



// EXTEND
%clearspace-extend {
	padding: 0px;
	margin: 0px auto;
}



// MIXIN
@mixin clearspace {
	padding: 0px;
	margin: 0px auto;
} 
@mixin round($radius: 50%) {
	border-radius: $radius;
	-o-border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;	
}
@mixin transition($duration: 300ms) {
	transition: all $duration ease-IN;
	-o-transition: all $duration ease;
	-ms-transition: all $duration ease;
	-moz-transition: all $duration ease;
	-webkit-transition: all $duration ease;
}
@mixin glow($color: #FFF, $thickness: 25px, $opacity: 0.2) {
	box-shadow: 0 0 $thickness 1px rgba($color, $opacity);
	-o-box-shadow: 0 0 $thickness 1px rgba($color, $opacity);
	-ms-box-shadow: 0 0 $thickness 1px rgba($color, $opacity);
	-moz-box-shadow: 0 0 $thickness 1px rgba($color, $opacity);
	-webkit-box-shadow: 0 0 $thickness 1px rgba($color, $opacity);
}
@mixin shadow($thickness: 25px, $opacity: 0.2) {
	box-shadow: 0 0 $thickness 1px rgba(#000, $opacity);
	-o-box-shadow: 0 0 $thickness 1px rgba(#000, $opacity);
	-ms-box-shadow: 0 0 $thickness 1px rgba(#000, $opacity);
	-moz-box-shadow: 0 0 $thickness 1px rgba(#000, $opacity);
	-webkit-box-shadow: 0 0 $thickness 1px rgba(#000, $opacity);
}
@mixin textshadow($thickness: 3px, $opacity: 0.3) {
	text-shadow: 1px 1px $thickness rgba(#000, $opacity);
	-o-text-shadow: 1px 1px $thickness rgba(#000, $opacity);
	-ms-text-shadow: 1px 1px $thickness rgba(#000, $opacity);
	-moz-text-shadow: 1px 1px $thickness rgba(#000, $opacity);
	-webkit-text-shadow: 1px 1px $thickness rgba(#000, $opacity);
}
@mixin skewY($deg: 3deg) {
	-webkit-transform: skewY($deg);
	-moz-transform: skewY($deg);
	-ms-transform: skewY($deg);
	-o-transform: skewY($deg);
	transform: skewY($deg);
}